body{
    font-family: 'PT Serif', serif;
}
body p{
    color: grey;
}
.widths{
    width: 50%;
    margin-left: 17%;
    margin-bottom: 3%;
}
.section1{
    width: 80%;
    display: flex;
    padding-left: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
}
.section1 img{
    width: 80%;
}
.initial_part{
    font-size: 20px;
    margin-top: 10%;
    margin-right: 250px;
}
.headers{
    font-size: 33px;
    border-left: 5px solid;
    border-image: linear-gradient(black,blue) 10%;
    padding-left: 2%;
}
.coloring_heads{
    color: tomato;
}
#First_paragraph{
    padding-bottom: 2%;
}
.link_buttons{
    text-decoration: none;
    padding: 10px 50px;
    background-image: linear-gradient(rgb(202, 118, 7),rgb(223, 129, 7));
    color: white;
    font-weight: 1000;
    border-radius: 5%;
}
.inside_texts{
    margin-top: 7% ;
    font-size: 15px;
}
#section2{
    font-size: 45px;
    text-align: center;
}
.section3{
    width: 75%;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}
.box1{
    padding: 3%;
    border-radius: 10px;
    background-color:powderblue;
    width: 40%;
    margin: 2% 2%;
    
}
.box2{
    padding: 3%;
    border-radius: 10px;
    background-color:peachpuff;
    width: 40%;
    margin: 2% 2%;
    

}
.box3{
    padding: 3%;
    border-radius: 10px;
    background-color: wheat;
    width: 40%;
    margin: 2% 2%;
}
.section3_header{
    text-align: left;
}
.boxImage{
    width: 50%
}
.section4_5{
    width: 80%;
    display: flex;
    margin-bottom: 3%;
}
.i4_5left{
    padding-left: 50px;
}
.section4_5 img{
    background-image:url(images/shapes/shape-1.png);
    background-repeat: no-repeat; 
    background-position: left;
    width: 80%
}
.headers_section4_5{
    font-size: 35px;
}
footer{
    background-color: black;
    padding: 20px;
    text-align: center;
    color: whitesmoke;
}
#section6{
    text-align: center;
}
footer span{
    color: violet;
}